{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "arrowParens": "always",
  "plugins": ["prettier-plugin-pkg"],
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "all"
}
